.not-found-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-heading {
  color: #191919;
  font-weight: 500;
  font-size: 24px;
}
.not-found-description {
  color: #191919cc;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
}
