.home-main-container {
  display: flex;
  min-height: 100vh;
}
.loader-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-sidebar {
  padding: 20px 10px 20px 40px;
  width: 330px;
  position: sticky;
}
@media screen and (max-width: 768px) {
  .home-sidebar {
    display: none;
  }
}
.home-sidebar-heading {
  color: #088c03;
  font-weight: 600;
  font-size: 24px;
  margin-top: 0px;
}
.products-main-container {
  direction: ltr;
}
.products-container {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  overflow-x: scroll;
}
.items-container {
  height: 150vh;
  overflow-y: auto;
  direction: rtl;
  width: 90%;
  margin-top: 25px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .items-container {
    width: 100%;
    padding: 10px;
  }
}
.home-sidebar-categories {
  color: #191919;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.active-category {
  background-color: #088c03;
  color: #ffffff;
  padding: 14px 16px;
  border: solid 0px;
  border-radius: 8px;
}
.active-category-name {
  color: #ffffff;
}
.category-item {
  padding: 14px 16px;
}
.categories-container {
  list-style-type: none;
  padding-left: 0px;
}
.category-view-all {
  color: #088c03;
}
@media screen and (min-width: 768px) {
  .category-view-all {
    display: none;
  }
}

.each-category-name {
  font-size: 24px;
  font-weight: 600;
  margin: 0px;
}
.failure-view-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.failure-view-image {
  width: 240px;
  height: 140px;
  margin-bottom: 15px;
}
.failure-view-heading {
  font-weight: 500;
  font-size: 24px;
  color: #191919;
  margin: 0px;
}
.failure-view-description {
  font-weight: 400;
  font-size: 16px;
  color: #191919cc;
  margin: 10px 0px;
}
.failure-view-button {
  background-color: #088c03;
  padding: 12px 24px;
  border-radius: 8px;
  color: #ffffff;
  border: solid 0px;
}
.products-container::-webkit-scrollbar {
  display: none;
}
/* width */
.items-container::-webkit-scrollbar {
  width: 15px;
}
@media screen and (max-width: 768px) {
  .items-container::-webkit-scrollbar {
    display: none;
  }
}
/* Track */
.items-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 50px;
  margin-top: 50px;
}

/* Handle */
.items-container::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 50px;
  height: 92px;
  border: 5px solid #f0f0f0;
}
.home-mobile-categories-bar {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  overflow-x: auto;
  position: sticky;
  margin-top: 40px;
  margin-bottom: 0px;
}
.home-mobile-categories-bar::-webkit-scrollbar {
  display: none;
}
.home-mobile-categories {
  font-size: 12px;
  color: #19191999;
  font-weight: 400;
  text-decoration: none;
}
.mobile-category-box {
  border: solid 0px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 8px;
}
.active-mobile-category-box {
  background-color: #088c03;
  color: #ffffff;
}
[id] {
  scroll-margin-top: 80px; /* Adjust based on sticky header height */
}

.active-mobile-category-name {
  color: #088c03;
  margin-top: 10px;
}
.mobile-category-item {
  margin: 15px;
}
